@import '../../styles/variables';

.worldCereal-MapProductLabel-header {
  display: flex;
  align-items: center;
}

.worldCereal-MapProductLabel-header .ptr-icon {
  width: 1rem;
  height: 1rem;
}

.worldCereal-MapProductLabel-product {
  margin: 0 .25rem 0 .15rem;
}

.worldCereal-MapProductLabel-period {
  font-size: $a0;
}

.worldCereal-MapProductLabel-zone {
  font-size: $a0;
}