// @import "../../../styles/_variables.scss";

.ptr-maptimeline-scrollable{

}

.ptr-timeline-legend-placeholder{
	flex: 0 1 auto;
	display: flex;
	flex-flow: column;
	min-width: 14rem;
}

.ptr-maptimeline {
	display: flex;

	.ptr-timeline{
		display: flex;
		flex: 1 1 auto;
	}
}

.ptr-maptimelinelegend {
	flex: 0 1 auto;
	display: flex;
	flex-flow: column;
	// uncomment
	// line-height: $a1;
	// font-size: $a1;
	line-height: 1rem;
	font-size: 1rem;
	max-width: 14rem;
	width: 14rem;
}
.ptr-maptimelinelegend span {
	// uncomment
	// padding: 0 $a;
	padding: 0 1rem;
}

.ptr-maptimeline-legenditem {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


g.ptr-timeline-year,
.ptr-timeline-year > line,
g.ptr-timeline-month,
g.ptr-timeline-month > line,
g.ptr-timeline-day,
g.ptr-timeline-hour,
g.ptr-timeline-hour > line,
g.ptr-timeline-minute,
g.ptr-timeline-minute > line {
stroke: red;
}