@import '~@gisatcz/ptr-core/lib/styles/_variables';

$lightAccent0: hsl(40, 100%, 99.41%);
$lightAccent0rgb: 255, 254, 252;
$lightAccent05: hsl(206.67, 31.03%, 94.31%);
$lightAccent10: hsl(211.43, 38.18%, 89.22%);
$lightAccent15: hsl(210, 39.02%, 83.92%);
$lightAccent20: hsl(210, 40.74%, 78.82%);
$lightAccent25: hsl(210, 41.79%, 73.73%);
$lightAccent30: hsl(210, 42.5%, 68.63%);
$lightAccent35: hsl(210.38, 42.7%, 63.73%);
$lightAccent40: hsl(210.33, 43.13%, 58.63%);
$lightAccent45: hsl(210.59, 43.22%, 53.73%);
$lightAccent50: hsl(210.53, 45.97%, 48.63%);
$lightAccent50rgb: 67, 123, 181;
$lightAccent55: hsl(210.72, 56.05%, 43.73%);
$lightAccent60: hsl(211.13, 67.51%, 38.63%);
$lightAccent65: hsl(210.52, 67.44%, 33.73%);
$lightAccent70: hsl(210.91, 66.44%, 29.22%);
$lightAccent75: hsl(210.36, 66.4%, 24.51%);
$lightAccent80: hsl(210.45, 65.05%, 20.2%);
$lightAccent85: hsl(210.59, 62.96%, 15.88%);
$lightAccent90: hsl(210, 60%, 11.76%);
$lightAccent95: hsl(208.57, 53.85%, 7.65%);
$lightAccent100: hsl(45, 100%, 0.78%);
$lightAccent100rgb: 4, 3, 0;

$darkAccent0: hsl(45, 100%, 0.78%);
$darkAccent0rgb: 4, 3, 0;
$darkAccent05: hsl(208.57, 53.85%, 7.65%);
$darkAccent10: hsl(210, 60%, 11.76%);
$darkAccent15: hsl(210.59, 62.96%, 15.88%);
$darkAccent20: hsl(210.45, 65.05%, 20.2%);
$darkAccent25: hsl(210.36, 66.4%, 24.51%);
$darkAccent30: hsl(210.91, 66.44%, 29.22%);
$darkAccent35: hsl(210.52, 67.44%, 33.73%);
$darkAccent40: hsl(211.13, 67.51%, 38.63%);
$darkAccent45: hsl(210.72, 56.05%, 43.73%);
$darkAccent50: hsl(210.53, 45.97%, 48.63%);
$darkAccent50rgb: 67, 123, 181;
$darkAccent55: hsl(210.59, 43.22%, 53.73%);
$darkAccent60: hsl(210.33, 43.13%, 58.63%);
$darkAccent65: hsl(210.38, 42.7%, 63.73%);
$darkAccent70: hsl(210, 42.5%, 68.63%);
$darkAccent75: hsl(210, 41.79%, 73.73%);
$darkAccent80: hsl(210, 40.74%, 78.82%);
$darkAccent85: hsl(210, 39.02%, 83.92%);
$darkAccent90: hsl(211.43, 38.18%, 89.22%);
$darkAccent95: hsl(206.67, 31.03%, 94.31%);
$darkAccent100: hsl(40, 100%, 99.41%);
$darkAccent100rgb: 255, 254, 252;