@use 'sass:math';
@import '../../../../../styles/variables';

.cure-StatisticsHeaderSelect {
  height: 100%;
}

.cure-StatisticsHeaderSelect svg {
  width: 16px;
}

.worldCereal-StatisticsHeaderSelect-label {
  font-size: .75rem;
  line-height: 1.05;
  letter-spacing: 0;
  color: var(--base85);
}