@import '../../styles/variables';

.worldCereal-MapWrapper {
  position: relative;
}

.ptr-map-wrapper.worldCereal-MapWrapper.active::after {
  border: 2px dashed var(--accent50);
}

.worldCereal-MapRemoveButton.ptr-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0 .15rem;
  border-radius: 0;
  background: var(--accent30);
}