@import '../../styles/variables';

.worldCereal-MapWrapper {
  position: relative;
}

.ptr-map-wrapper.worldCereal-MapWrapper.active::after {
  border: 2px dashed var(--accent50);
  z-index: 1;
}

.worldCereal-MapProductLabelContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-gap: .35rem;
  position: absolute;
  top: .4rem;
  left: .4rem;
  z-index: 2;
  max-width: calc(100% - 2rem);
}

.worldCereal-MapProductLabelContainer.is-right {
  left: auto;
  right: .4rem;
}

.worldCereal-MapProductLabelContainer > div {
  position: relative;
}

.worldCereal-MapTools {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  grid-gap: .05rem;
  background: var(--base50);
  box-shadow: 0 0 5px rgba(var(--base100rgb), .5);
}

.worldCereal-MapToolsButton.ptr-button {
  padding: 0 .15rem;
  border-radius: 0;
  background: var(--accent30);
}