@import '../../styles/variables';

.worldCereal-Timeline {
  position: relative;
  background: var(--base95);
  min-height: 13rem;
  max-width: 100%;
  z-index: 4;
  border-top: 1px solid var(--base70);

  .ptr-timeline-x-titles{
    height: 1.75rem;
  }

  .ptr-timeline-content{
    background: rgba(var(--base50rgb), 0.1)
  }

  .ptr-maptimeline-scrollable{
    height: 11rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}