@import '../../styles/variables';

.worldCereal-Timeline {
  height: 20rem;
  position: relative;
  background: var(--base95);
  min-height: 6rem;
  // max-height: 6rem;
  max-width: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
  z-index: 4;
  border-top: 1px solid var(--base70);

  .ptr-timeline-x-titles{
    height: 2rem;
  }

  .ptr-timeline-content{
    background: rgba(var(--accent60rgb), 0.2)
  }

  .ptr-maptimeline-scrollable{
    height: 11rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}