@import '../../styles/variables';

.worldCereal-ProductViewer {
  width: 100%;
  height: 100%;
  display: flex;
}

.worldCereal-MapSetContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}