@import '../../../styles/variables';

.worldCereal-MapAttribution {
  z-index: 1;
  background: rgba(var(--base100rgb), 0.6);
  font-size: $b0;
  padding: 0.15rem 0.5rem;
  color: var(--base30);
}

.worldCereal-MapAttribution a {
  color: var(--accent30);
}