@use 'sass:math';
@import '../../../../styles/variables';

.worldCereal-AnalyticsPanel {
  background: var(--base0);
  height: 100%;
}

.worldCereal-AnalyticsPanel-header {
  padding: m(1) 0;
  border-bottom: 1px solid var(--base30);
}

