@import '../../styles/variables';

.worldCereal-Modal {
  background: var(--accent20);
}

.worldCereal-MetadataInfoTitle {
  margin: 0;
  line-height: 4rem;
  padding: 0 m(1);
  color: var(--base90);
}

.worldCereal-MetadataInfo {
  padding: m(1);
}