@import '../../styles/variables';

.worldCereal-ActiveFilterInfo {
  display: flex;
  align-items: center;
  min-height: m(4/3);
}

.worldCereal-ActiveFilterInfo-summary {
  font-size: $b1;
  color: var(--base90);
  margin: 0 .35rem 0 0;
}

.worldCereal-ActiveFilterInfo-summary em {
  font-weight: bold;
}

.worldCereal-ActiveFilterInfo-filters {
  margin: .35rem;
}